python-dotenv
pandas
numpy
requests
python-dateutil
pyyaml
pyspark
great-expectations
apache-airflow
scikit-learn
xgboost
mlflow
feast
dvc
dvc-s3
dvc-gdrive
fastapi
uvicorn
plotly
evidently
prometheus-client
grafanalib
boto3
pytest
httpx
flask

#. -e